body {
	margin: 0;
	overflow-x: hidden;
	overflow-y: scroll;
}

#root {
	font-family: "Kollektif";
}

.content {
	margin-bottom: 4rem;
}

.background {
	top: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	position: absolute;
	background-color: var(--white);
	z-index: -1;
	overflow: visible;
}

.bg-img {
	position: fixed;
	aspect-ratio: 1 / 1;
	opacity: 0.15;
}

.navbar {
	background-color: rgba(255, 255, 255, 0);
}

.nav-link:hover {
	color: var(--light-green);
}

.nav-link:focus {
	color: var(--green);
}

.footer-list .nav-link {
	color: var(--white);
	padding: 0px;
}

.footer-list a.active {
	color: var(--white) !important;
	font-weight: 700 !important;
}

.nav-content {
	font-family: "Kollektif";
}

.nav-content p,
.nav-content a {
	color: var(--green);
	font-size: 20px;
	font-weight: normal;
	font-style: normal;
}

.logo {
	aspect-ratio: 45 / 55;
}

.nav-logo {
	height: 55px;
}

.nav-title {
	color: var(--green);
	font-family: "Proxima Nova";
	font-size: 34px;
	font-weight: bold;
}

.nav-title:hover {
	color: var(--green);
}

.footer-logo {
	height: 90px;
}

.nav-title span {
	color: var(--dark-green);
}

.footer-title {
	color: var(--white);
	font-family: "Proxima Nova";
	font-size: 30px;
}

.footer-title p {
	height: auto;
}

.navbar-toggler:focus {
	box-shadow: none !important;
}

.footer {
	margin-top: auto !important;
	background-color: var(--green);
}

.img-white {
	filter: brightness(0) invert(1);
}

.card-title {
	font-size: 48px;
	font-family: "Kollektif";
	font-weight: bold;
	color: var(--green);
}

.card-body {
	border-radius: 50px;
}

.card-date {
	height: 100%;
	background-color: var(--off-white);
	color: var(--green);
	font-weight: bold;
}

.card-day {
	font-size: 30px;
	position: relative;
	top: 8px;
}

.card-month {
	font-size: 17px;
	position: relative;
	top: -5px;
}

.card-description {
	background-color: var(--green);
	color: var(--off-white);
	font-size: 17px;
}

.card-description p {
	font-weight: bold;
	font-size: 20px;
}

.help {
	font-size: 21px;
	color: var(--green);
}
