#root {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	font-family: "Kollektif";
}

.navbar {
	background-color: rgba(255, 255, 255, 0);
}

.nav-link:hover {
	color: var(--light-green);
}

.nav-link:focus {
	color: var(--green);
}

.nav-content {
	font-family: "Kollektif";
}

.nav-content p,
.nav-content a {
	color: var(--green);
	font-size: 20px;
	font-weight: normal;
	font-style: normal;
}

.nav-logo {
	color: var(--green);
	font-family: "Proxima Nova";
	font-size: 34px;
	font-weight: bold;
}

.nav-logo:hover {
	color: var(--green);
}

.nav-logo span {
	color: var(--dark-green);
}

.navbar-toggler:focus {
	box-shadow: none !important;
}

.background {
	background-color: var(--off-white);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.blob {
	position: absolute;
	opacity: 0.15;
	width: 100vh;
	height: 100vh;
}

.footer {
	margin-top: auto !important;
	background-color: var(--dark-green);
}

.img-white {
	filter: brightness(0) invert(1);
}

.card-title {
	font-size: 42px;
	font-family: "Kollektif";
	font-weight: bold;
	color: var(--green);
}

.event {
	background-color: var(--green);
	border-radius: 50px;
}

.event-date {
	height: 100%;
	background-color: var(--off-white);
	color: var(--green);
	font-weight: bold;
}

.event-day {
	font-size: 30px;
	position: relative;
	top: 8px;
}

.event-month {
	font-size: 17px;
	position: relative;
	top: -5px;
}

.event-info {
	color: var(--off-white);
	font-size: 17px;
}

.event-info p {
	font-weight: bold;
	font-size: 20px;
}
