body {
	margin: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	background-color: var(--off-white);
	min-height: 100%;
}

#root {
	font-family: "Kollektif";
	color: var(--green);
}

p {
	margin-bottom: 0px !important;
}

#body {
	margin-top: 101px;
	margin-bottom: 5rem;
	min-height: 100vh;
}

.content {
	margin-top: 2rem;
	margin-bottom: 4rem;
}

.background {
	top: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	position: absolute;
	z-index: -1;
	overflow: visible;
}

.bg-img {
	position: fixed;
	aspect-ratio: 1 / 1;
	opacity: 0.15;
}

.fixed-navbar {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	background-color: var(--bg-light-green);
	z-index: 1;
	/* border-bottom: 2px solid var(--dark-green); */
	border-radius: 0 0 10px 10px;
}

.navbar {
	background-color: rgba(255, 255, 255, 0);
}

.nav-link:hover {
	color: var(--light-green);
}

.nav-link:focus {
	color: var(--green);
}

.footer-links {
	border-left: 2px solid var(--white);
}

.footer-routes .nav-link {
	color: var(--white);
	padding: 0px;
}

.footer-routes a.active {
	color: var(--white) !important;
	font-weight: 700 !important;
}

.nav-content {
	font-family: "Kollektif";
}

.nav-content p,
.nav-content a {
	color: var(--green);
	font-size: 20px;
	font-weight: normal;
	font-style: normal;
}

.nav-logo {
	height: 55px;
}

.nav-title {
	color: var(--green);
	font-family: "Proxima Nova";
	font-size: 34px;
	font-weight: bold;
}

.nav-title:hover {
	color: var(--green);
}

.footer-logo {
	height: 90px;
}

.nav-title span {
	color: var(--dark-green);
}

.footer-title {
	color: var(--white);
	font-family: "Proxima Nova";
	font-size: 30px;
}

.footer-title p {
	height: auto;
	line-height: normal;
}

.navbar-toggler:focus {
	box-shadow: none !important;
}

.footer {
	background-color: var(--green);
}

.img-white {
	filter: brightness(0) invert(1);
}

.card-title {
	font-size: 44px;
	font-family: "Kollektif";
	font-weight: bold;
	color: var(--green);
}

.card-body {
	width: 100%;
}

.card-item {
	border-radius: 50px;
	color: var(--off-white);
	background-color: var(--green);
	width: 100%;
}

.card-p {
	font-size: 21px;
}

.card-date {
	height: 100%;
	font-weight: bold;
}

.card-day {
	font-size: 30px;
	position: relative;
	top: 6px;
}

.card-month {
	font-size: 17px;
	position: relative;
	top: -6px;
}

.card-description {
	font-size: 17px;
}

.card-description p {
	font-weight: bold;
	font-size: 20px;
}

.card-link {
	font-size: 25px;
	color: var(--off-white);
	font-family: "Kollektif";
	font-weight: bold;
	text-decoration: none;

	border-radius: 50px;
	background-color: var(--green);
	border: 2px solid var(--green);
}

.card-link:hover {
	color: var(--green);
	background-color: var(--off-white);
}

.header h1 {
	font-size: 58px;
	font-family: "Kollektif";
	font-weight: bold;
	color: var(--dark-green);
}

.home-text {
	font-size: 28px;
}

.schedule p {
	font-size: 20px;
	color: var(--dark-green);
	font-weight: bold;
	font-family: "Proxima Nova";
	margin: 0;
}

.team-img {
	height: 100%;
	width: 100%;

	background-image: url("/images/team.jpeg");

	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;

	box-shadow: color-mix(in srgb, var(--light-green), transparent 15%) 0px 5px 15px 0px;

	border-radius: 50px;
}

.message-form {
	border: 6px solid var(--dark-green);
	border-radius: 20px;
	background-color: var(--lighter-green);
	font-size: 21px;
}

form .form-control {
	border: 1px solid var(--light-gray);
	box-shadow: none;
}

form .form-control:focus {
	border-color: var(--light-gray);
	box-shadow: none;
}

form .form-control::placeholder {
	color: var(--gray);
	font-style: italic;
}

form #charCount {
	color: var(--gray);
	font-size: 15px;
}

form .valid-feedback,
form .invalid-feedback {
	font-size: 15px !important;
}

form .form-error {
	font-size: 16px !important;
}

.contact-btn {
	font-family: "Kollektif";
	background-color: var(--dark-green);
	border: 2px solid var(--dark-green) !important;
	font-size: 19px;
}

.contact-btn:hover {
	color: var(--dark-green);
	background-color: var(--off-white);
}

.contact-btn:focus:active {
	background-color: var(--dark-green);
}

.contact-p {
	font-size: 28px;
}

.icon-link {
	font-family: "Kollektif";
	font-size: 28px;
	font-weight: bold;
	color: var(--off-white);
	background-color: var(--green);
	border: 0 !important;
	border-radius: 20px;
	text-decoration: none;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

.icon-link:hover {
	color: var(--off-white);
	background-color: var(--light-green);
}

.icon-link:focus:active {
	color: var(--off-white);
	background-color: var(--light-green);
}

.icon-img {
	width: 100%;
	height: 100%;
}

.contact-info {
	font-size: 21px;
}
