@font-face {
	font-family: "Kollektif";
	src: url("/kollektif/kollektif-bold-italic.ttf") format("truetype");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "Kollektif";
	src: url("/kollektif/kollektif-bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Kollektif";
	src: url("/kollektif/kollektif-italic.ttf") format("truetype");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "Kollektif";
	src: url("/kollektif/kollektif.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Proxima Nova";
	src: url("/proxima-nova/proxima-nova.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Proxima Nova";
	src: url("/proxima-nova/proxima-nova-italic.ttf") format("truetype");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "Proxima Nova";
	src: url("/proxima-nova/proxima-nova-bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Proxima Nova";
	src: url("/proxima-nova/proxima-nova-bold-italic.ttf") format("truetype");
	font-weight: bold;
	font-style: italic;
}

:root {
	font-family: Kollektif, Proxima Nova, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--white: #ffffff;
	--black: #000000;
	--dark-green: #168d63;
	--green: #63a891;
	--light-green: #a2cabd;
	--bg-light-green: #e0eee8;
	--bg-lighter-green: #e8f2ef;
	--off-white: #fcfcfe;
	--grey: #a6a6a6;
}
